<%= form_for(@paper_type) do |f| %>
  <% if @paper_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper_type.errors.count, "error") %> prohibited this paper_type from being saved:</h2>

      <ul>
      <% @paper_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :color %><br>
    <%= f.text_field :color, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :thickness %><br>
    <%= f.text_field :thickness, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary btn-block" %>
  </div>
<% end %>
