<!DOCTYPE html>
<html>
<head>
  <title>JpPriceEstimator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body ng-app="bcApp">
	<div class="container-fluid">
		<div class="main-content col-sm-4 col-sm-offset-4">

			<div class="logo-div col-sm-12">
				<%= link_to image_tag("logo_large.png", class: "logo center-block"), root_path %>
			</div>

			<% if notice %>
				<h4 class="notice text-center"><%= notice %></h4>
			<% elsif %>
      	<h4 class="alert text-center"><%= alert %></h4>
      <% else %>
      <% end %>

			<%= yield %>
			
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid">
			<div class="col-sm-4 col-sm-offset-4">
				<% if user_signed_in? %>
					<%= button_to 'logout',  destroy_user_session_path, method: :delete, class: "btn btn-default center-block logout" %>
				<% end %>
			</div>
		</div>
	</footer>
</body>
</html>
